#course-description-p {
 line-height: 230%;
 text-align: justify;
}
#course-description {
 margin-bottom: 10px;
}
.lists li{
 font-size: 90%;
 text-align: justify;
 line-height: 200%;
}
.sticky-top{
 opacity: 0.9;
}
.menu-toggle{
 margin-top: 0;
}
.site-description{
 margin: 10px 0px 0px 15% !important;
}
.hover-shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hover-shadow:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
